@font-face {
    font-family: cnword;
    src: url('../font/senty.ttf') format("truetype"),
      url('../font/senty.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: angelina;
    src: url('../font/angelina.ttf') format("truetype"),
         url('../font/angelina.eot') format("opentype");
}
/*
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxBHWFfxJXS04xYOz0jw624.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBBHWFfxJXS04xYOz0jw624.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGAAD_zxmsR6vL1X3tnvCZYo.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoM1xDqsnd7zNt-b9r25av6rY.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6DugCgqSmF8aQZaqvLxtKh4.woff) format('woff');
}*/


body {
    /*width:100%;
    margin:0 auto;*/
    margin: 0 auto;
    display: block;
    position: relative;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
/*    font-family: 'Source Sans Pro'!important;*/
}

div {
    display: block;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    clear: both;
    /*background: #eaeaea url('../css/imgs/bg.png');*/
    /*background-color: #F8F8EE;/*#6c615c;#F0F5FD;*/
/*    background: #f4f4f4;
    color: #af670a;

    padding-left: 15px;
    line-height: 1.5em;
    border-bottom: 1px solid silver;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;*/


    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #f0ad4e;

}

h1{
    font-size: 2em;
    margin-left: 0;
    padding: 20px;
}
h2{
    font-size: 1.7em;
    margin-left: 6px;
    padding: 16px;
}
h3{
    font-size: 1.5em;
    margin-left: 12px;
    padding: 12px;
}
h4{
    font-size: 1.3em;
    margin-left: 18px;
    padding: 8px;
}
h5{
    font-size: 1.2em;
    margin-left: 24px;
    padding: 5px;
}
h6{
    font-size: 1.1em;
    margin-left: 30px;
    padding: 1px;
}
a:hover, a:active {
    outline: 0;
}
a{
    color:#4183c4;
}
a:hover, a:focus {
    color:#4183c4;
    text-decoration:underline;
}
a:visited {
    color:#4183c4;
}
/*
table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 95%;
    overflow: auto;
    border-color: gray;

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tr:nth-child(2n) {
    background-color: rgba(246, 246, 246, 1);
}

table tr:hover td{
   background-color:#eee;
}

table td, table th {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #ddd;
    padding: 3px 13px;
}

table th {
    font-weight: bold;
}*/


body table
{
  display:block;
  overflow:auto;
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

body table th
{
  font-weight:700;
}

body table th,body table td
{
  border:1px solid #ddd;
  padding:6px 13px;
}

body table tr
{
  background-color:#fff;
  border-top:1px solid #ccc;
}

body table tr:nth-child(2n)
{
  background-color:#f8f8f8;
}

body table tr:hover td{
   background-color:#eee;
}

strong em{
    font-style: normal;
    color: #ED6C70;/*red;#D0434D;*/
    font-weight: bold;
}

blockquote {
  padding: 0 20px;
  margin: 0 8px 20px;
  font-size: 0.95em;
}


#md_toc_wrap {
    z-index: 99;
    padding: 10px;
    background-color: #fff;
    top: 10px;
    right: 10px;
}



#md_toc {
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px 30px 10px 10px;
    font-size: 0.9em;
    line-height: 1.4em;
    margin: 10px 0;
}

#md_toc_wrap.on_top{
    margin: 40px 35px 20px 55px;
}

#md_toc_wrap.on_top #md_toc{
    overflow: auto;
}

#md_toc_toggle{
    padding-right: 45px;
}

#md_toc_toggle a{
    float: right;
}

.goto_top{
  z-index: 99;
  right: 2px;
  bottom: 2px;
}

#md_content {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    z-index: 0;
}

#md_content li{
    margin-top: 8px;
}

#md_content a.external{
    padding-right: 13px;
    margin-right: 3px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;
}


#header {
  position: relative;
  padding: 30px 15px;
  margin: 10px 30px 10px ;
  color: #cdbfe3;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

#header h1{
  font-size: 2.4em;
  line-height: 1;
  border: 0;
  color: #fff;
}

.syntaxhighlighter {
    margin: 0 !important;
}

.syntaxhighlighter .toolbar {
    display: none;
}
.syntaxhighlighter .line{
    line-height: 1.2em !important;
}
/*.syntaxhighlighter .line code{
    font-family: 'Source Sans Pro'!important;
}*/
.syntaxhighlighter .line.alt1 {
    background-color: #f5f7f8 !important;
    font-size: 0.96em!important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #f5f7f8 !important;
    font-size: 0.96em!important;
}

.syntaxhighlighter .number {
    color: #6F008A !important;
}

.syntaxhighlighter .value {
    color: #6F008A !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #A31515 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    font-style: italic !important;
}
a.right {
    float: right;
}
a.left {
    float: left;
}
blockquote.author-date{
    float: right;
    border:0;
}
blockquote.author-date p{
    background: url(../css/imgs/icons.gif) no-repeat;
    background-position: 0 -48px;
    margin: 0;
    padding: 0 0 0 20px;
    height: 16px;
    line-height: 16px;
}
/*code{
    border: 0;
    background-color: #D6DBDF;
    border-radius: 4px;
    color: #2C3E50;
    font-size: 14px;
    padding: 2px 4px;
    white-space: nowrap;
}*/
