.handler{
    /*border: 1px blue solid;*/
    z-index: 99;
    /*background-color: blue;*/
}
#handler_vertical{
    z-index: 999;
}
.CodeMirror {
    height: 100% !important;
}

.CodeMirror-activeline-background {
    background: #e8f2ff !important;
}

.CodeMirror-fullscreen {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999 !important;
}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

#result .window_label i{
    text-decoration: none;
    cursor: default;
    display: inline-block;
    background: url(imgs/glyphicons-halflings.png) -360px -96px no-repeat;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;

}
#result .window_label i.full{
    background-position: -384px -96px;
}
#sidebar {
    position: fixed !important;
}

#sidebar h3{
    font-weight: bold;
    font-size: 14px;
    margin-top: 14px;
}
#sidebar ul{
    list-style: disc;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 13px;

}
#sidebar li{
    padding: 5px;
}
#sidebar strong{
    font-weight: bold;
}
#header{
    /*background: #E8F2FF;*/
}
body>a>img{
  display: none;
}
