$def with (title,content,res_base_url)

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/vendor/bootstrap/3.2.0/bootstrap.css"/>
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/vendor/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/vendor/syntaxhighlighter_3.0.83/styles/shThemeEmacs.css"/> -->
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/markdown.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/md_note.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/toc.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/imgbox.css" />
<!--     <link rel='stylesheet' type='text/css' media='screen' href='$res_base_url/css/gmail-scrollbar.css' /> -->
    <title>$title</title>
</head>
<body style='zoom:1'>

<div id="md_wrap">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div id="header" >
            <h1>$title</h1>
          </div>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div id="md_toc_toggle" class='visible-sm-block visible-xs-block'>
              <a onclick='toggle_top_toc()' class="btn btn-default" href="javascript:void(0);">Show/Hide Toc</a>
            </div>

            <div class="affix goto_top">
              <a onclick='goto_top()' class="btn btn-default hidden-md hidden-lg" href="javascript:void(0);">↑</a>
            </div>

            <div id="md_toc_wrap" class="col-md-3 well well-sm affix hidden-sm hidden-xs">


             <div class="btn-group">
              <a onclick="expand_toc('md_toc',1);" class="btn btn-default" href="javascript:void(0);">L1</a>
              <a onclick="expand_toc('md_toc',2);" class="btn btn-default" href="javascript:void(0);">L2</a>
              <a onclick="expand_toc('md_toc',3);" class="btn btn-default" href="javascript:void(0);">L3</a>
              <a onclick="expand_toc('md_toc',6);" class="btn btn-default" href="javascript:void(0);">L4+</a>

             </div>

             <div class="btn-group hidden-md hidden-lg" style="float:right">
               <a class="btn btn-default" target="_blank" href="/gen_md?src=https%3A%2F%2Fraw2.github.com%2Fzyxstar%2Fmd_note%2Fmaster%2Fdocs%2FManual.md"><i class="glyphicon glyphicon-question-sign"></i></a>
               <a class="btn btn-default" href="#comment"><i class="glyphicon glyphicon-comment"></i></a>
             </div>

              <div id="md_toc"></div>

              <div class="btn-group hidden-sm hidden-xs">
               <a class="btn btn-default" target="_blank" href="/gen_md?src=https%3A%2F%2Fraw2.github.com%2Fzyxstar%2Fmd_note%2Fmaster%2Fdocs%2FManual.md"><i class="glyphicon glyphicon-question-sign"></i></a>
               <a class="btn btn-default" href="#comment"><i class="glyphicon glyphicon-comment"></i></a>
              </div>

              <a onclick='goto_top()' class="btn btn-default right hidden-sm hidden-xs" href="javascript:void(0);"><i class="glyphicon glyphicon-arrow-up"></i></a>

            </div>



        </div>
    </div>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9">
               <div id="md_content">
                   $:content
                </div>
                <a id="comment" name="comment"></a>
                <div class="ds-thread" data-thread-key="$title" data-title="$title" data-url=""></div>
            </div>
        </div>
    </div>

</div>





<a id="footer" name="footer"></a>





<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>

<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushErlang.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="$res_base_url/vendor/syntaxhighlighter_3.0.83/scripts/shBrushScheme.js"></script>

<script type="text/javascript" src="$res_base_url/vendor/markdown/Markdown.Converter.js"></script>



<script type="text/javascript" src="$res_base_url/js/common.js"></script>
<script type="text/javascript" src="$res_base_url/js/toc.js"></script>
<script type="text/javascript" src="$res_base_url/js/parsemarkdown.js"></script>
<script type="text/javascript" src="$res_base_url/js/parsecode.js"></script>
<script type="text/javascript" src="$res_base_url/js/parsetable.js"></script>
<script type="text/javascript" src="$res_base_url/js/routelang.js"></script>
<script type="text/javascript" src="$res_base_url/js/imgbox.js"></script>

<script type="text/javascript" src="$res_base_url/vendor/jquery/1.9.0/jquery.js"></script>

<script type="text/javascript" src="$res_base_url/vendor/underscore/1.6.0/underscore.js"></script>
<!-- <script type="text/javascript" src="$res_base_url/vendor/bootstrap/3.2.0/bootstrap.js"></script> -->
<script type="text/javascript" src="$res_base_url/vendor/jquery.lazyload/1.9.3/jquery.lazyload.js"></script>
<script type="text/javascript" src="$res_base_url/js/md_note.js"></script>

<script type="text/javascript" src="//static.duoshuo.com/embed.js"></script>

 </body>
</html>
